$primary-color: #00b295;
$secondary-color: #2d3e50;
$white-color: #ffffff;
$gray-color: #d9d9d9;
$red-color: #FF0000;
$background-light: #f4f4f4;
$background-white: #ffffff;
$background-semi-transparent: rgba(255, 255, 255, 0.8);
$background-gray: #d9d9d9;
$background-bluegray: #3a4d66;
$font-primary: 'Helvetica', sans-serif;
$icon-size: 24px;